.pixels {
    border:1px solid #bbb;
    width:15px;
    height:15px;
    cursor: pointer;
    background: #fff;
}
.pixels:hover {
    background:#ccc;
}
.pixel-recorte {
    border:1px solid #CD7054;
    width:15px;
    height:15px;
    cursor: pointer;
    background: #FFE4C4;
}
.pixel-recorte:hover {
    background:#8B3E2F;
}
#botao-cor {
    padding:5px 10px;
    font-size: 14px;
    border:none;
    border-radius: 3px;
    width:70px;
}
#content {
  margin:0;
}
select {
    font-size:13px;
    width:100%;
    height:70px;
    padding:5px;
}

.divisao {
    margin:7px 0;
}

.section-title {
    font-size:13px;
    /*text-transform: uppercase;*/
    background:#CFCFCF;
    font-weight: bold;
    padding:7px 7px;
    border-radius: 3px;
    margin:10px 0;
}